[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
django-environ = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-filter = "*"
mysqlclient = "*"
whitenoise = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
